
.vscode

__pycache__
.DS_Store
exempel


inlämnat
inlamnat
inlamnat/*

*.xlsx

ovningar/*

Data-Visualization/Codes/*.temp
Data-Visualization/Codes/.ipynb_checkpoints
Data-Visualization/Data/.ipynb_checkpoints



# DS8/ovningar/*-svar.py

DS11/error.log

postgresql/data

